.Navbar{
    background-color: rgb(125, 233, 255);
    padding: 0;
   margin: 0px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
.d-flex{
    margin-right: 100px;
}
.fo{
    margin-left: 100px;
}
.h{
    margin-left: 55px;
}

